html {
	height: 100%;
}

body {
	height: 100%;
    padding-top: 66px;
}

.container {
	padding-bottom: 50px;
}

input.form-control {
    margin-bottom: 5px;
}

.notifications .notifications-container {
	z-index: 1500;
}

.extra-bottom {
	margin-bottom: 10px;
}

.blue-navbar {
	background-color: #428bca;
}

.bold-brand {
	font-weight: bold;
}

.navbar-default .white-navbar-brand,
.navbar-default .white-navbar-link {
	color: #FFF;
}

.navbar-default .blue-navbar-brand,
.navbar-default .blue-navbar-link {
	color: #428bca;
}

.borderless-list-group li {
	color: #428bca;
	border: none;
}

.navbar-text.pull-right,
.navbar-text.pull-left {
	margin: 15px;
}

#uploadButton {
	margin-bottom: 5px;
}

.black-icon {
	color: #000;
}

a:hover {
	text-decoration: none;
}

#view-div {
	height: 100%;
}

/* DUEL-VIEW */
.left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
}

.right-pane {
	margin-top: -15px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

/* RESPONSIVE */
@media(min-width: 768px) {
	.res-navbar-header {
		width: 100%;
	}

	.right-pane {
		position: absolute;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	    margin-top: 50px;
	}

	.grey-border-left {
		border-left: 1px solid #D3D3D3;
	}
}

/* WIDGET-LIST */
.widget-list {
	list-style: none;
	padding: 0;
}

.widget {
	position: relative;
}

.widget-text {
	margin-bottom: 5px;
}

.widget-edit-buttons {
	background-color: #FFF;
	opacity: 0.8;
	border-radius: 0px 0px 0px 5px;
	padding: 3px;

	position: absolute;
    top: 0px;
    right: 0px;

    z-index: 1;
}

.nt-inline {
	display: inline-block;
	float: left;
	margin-right: 15px;
    margin-left: 15px;
}

.clear-nav-bottom {
	padding-bottom: 50px;
}

.responsive-video {
	margin-bottom: 5px;
}

.responsive-image {
	max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.responsive-flickr-image {
    width: 100%;
    height: auto;
}
