html {
	height: 100%;
}

body {
	height: 100%;
    padding-top: 66px;
}

input.form-control {
    margin-bottom: 5px;
}

.blue-navbar {
	background-color: #428bca;
}

.bold-brand {
	font-weight: bold;
}

.navbar-default .white-navbar-brand,
.navbar-default .white-navbar-link {
	color: #FFF;
}

.navbar-default .blue-navbar-brand,
.navbar-default .blue-navbar-link {
	color: #428bca;
}

.borderless-list-group li {
	color: #428bca;
	border: none;
}

.navbar-text.pull-right,
.navbar-text.pull-left {
	margin: 15px;
}

#uploadButton {
	margin-bottom: 5px;
}

.black-icon {
	color: #000;
}

a:hover {
	text-decoration: none;
}

#view-div {
	height: 100%;
}

.split-page-content {
	height: 100%;
}

.split-page-content #main-content {
	height: 100%;
	margin-top: -16px;
	padding-top: 16px;
}

@media(min-width: 768px) {
	.res-navbar-header {
		width: 100%;
	}

	.split-page-content #main-content {
		border-left: 1px solid #D3D3D3;
	}
}

/* WIDGET-LIST */
.widget {
	position: relative;
}

.widget-edit-buttons {
	background-color: #FFF;
	border-radius: 0px 0px 0px 5px;
	padding: 3px;

	position: absolute;
    top: 0px;
    right: 0px;

    z-index: 1;
}

.nt-inline {
	display: inline-block;
	float: left;
	margin-right: 15px;
    margin-left: 15px;
}

.clear-nav-bottom {
	padding-bottom: 50px;
}

.responsive-video {
	margin-bottom: 5px;
}

.responsive-image {
	max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}