<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<p class="navbar-text pull-left">
     		<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
        		<span class="glyphicon glyphicon-chevron-left"></span>
      		</a>
    	</p>
    	<a class="navbar-brand bold-brand">Widgets</a>
    	<p class="navbar-text pull-right">
    		<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
            	<span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
	</div>
</nav>

<div class="container clear-nav-bottom">
    <ul jga-sortable class="widget-list">
        <li ng-repeat="widget in model.widgets">
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADER">
                    <ng-include src="'views/widget/widget-list-templates/widget-list-header.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/widget-list-templates/widget-list-image.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/widget-list-templates/widget-list-youtube.view.client.html'">
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/widget-list-templates/widget-list-html.view.client.html'">
                </div>
                <div ng-switch-when="TEXT">
                    <ng-include src="'views/widget/widget-list-templates/widget-list-text.view.client.html'">                    
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    	<div class="navbar-text nt-inline">
    		<a class="navbar-link">
    			<span class="glyphicon glyphicon-play"></span>
    		</a>
    	</div>
    	<div class="navbar-text nt-inline">
    		<a class="navbar-link">
    			<span class="glyphicon glyphicon-eye-open"></span>
    		</a>
    	</div>
        <div class="navbar-text nt-inline pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link blue-navbar-link">
            	<span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>